* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

title {
    color: #ffffff;
}

body {
  font-family: 'Clear Sans', sans-serif;
}

#screen-title {
    text-align: center;
    top: 100px;
    font: 50px 'Courier New', Courier, monospace;
}

#canvas1 {
    margin: 50px;
    top: 0;
    left: 0;
    background: #baad9c;
    max-width: 75%;
    max-height: 75%;
}

#score {
    top: 10px;
    right: 20px;
    font: 24px 'Courier New', Courier, monospace;
    text-align: center;
}